@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: rgb(26, 20, 72);
}

button:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

nav ul li a {
    color: rgb(26, 20, 72);
}

nav ul li a:hover {
    color:rgb(255, 197, 0);
}

main section div > img {
    border-radius: 100%;
}

main section div a:hover {
    color:rgb(255, 197, 0);
}

main section div a:hover i {
    color:rgb(255, 197, 0);
}

.whatsapp {
    position: fixed;
    left: 92rem;
    top: 43rem;
    z-index: 9;
    background: rgb(255, 197, 0);
    padding: 10px;
}

footer {
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: rgb(255, 197, 0);
    color: rgb(26, 20, 72);
}

.social-links a {
    background: rgb(26, 20, 72);
}

.social-links a i {
    color: rgb(255, 197, 0);
}

.social-links a:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in 0.3s;
}

.social-links a:hover i {
    color: rgb(243,243,243);
    transition: 0.2s ease-in 0.3s;
}

@media  screen and (min-width: 375px)  {
    nav div {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .mobileNav {
        background-color:rgba(26, 20, 72, 0.6);
        width: 100%;
        height: 100vh;
        z-index: 99;
    }

    .buttonLinks button {
        background-color:rgb(255, 197, 0);
    }

    .buttonLinks button:hover {
        background-color:rgba(243, 243, 243);
        border: 1px solid rgb(255, 197, 0);
        transform: scale(.9);
        transition: 0.2s ease-in 0.3s;
    }

    

    footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .whatsappMobile {
        position: fixed;
        left: 20.3rem;
        top: 40rem;
        z-index: 9;
        background: rgb(255, 197, 0);
        padding: 10px;
    }
}

