@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

button:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

nav div {
    padding-left: 3rem;
    padding-right: 5rem;
}

nav ul li a {
    color: rgb(26, 20, 72);
}

nav ul li a:hover {
    color:rgb(255, 197, 0);
}

main {
    color:rgb(26, 20, 72);
}

.grid img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in 0.3s;
    cursor: zoom-in;
}

.grid button {
    background:rgb(255, 197, 0);
    width: 40%;
}

.grid button:hover {
    background:rgba(243, 243, 243);
    border: solid 1px rgb(255, 197, 0);
    transform: scale(1.1);
    transition: 0.2s ease-in 0.3s;
}

.searchbar input{
    background: rgba(243, 243, 243);
}

.searchbar input:focus {
    outline: none;
}

.shop-icons {
    color:rgb(26, 20, 72);
}

.shop-icons button i:hover {
    color:rgb(255, 197, 0);
}


footer {
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: rgb(255, 197, 0);
    color: rgb(26, 20, 72);
}

.social-links a {
    background: rgb(26, 20, 72);
}

.social-links a i {
    color: rgb(255, 197, 0);
}

.social-links a:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in 0.3s;
}

.social-links a:hover i {
    color: rgb(243,243,243);
    transition: 0.2s ease-in 0.3s;
}


@media  screen and (min-width: 375px) {
    nav div {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .mobileNav {
        background-color:rgba(26, 20, 72, 0.6);
        width: 100%;
        height: 100vh;
        z-index: 99;
    }

    .buttonLinks button {
        background-color:rgb(255, 197, 0);
    }

    .buttonLinks button:hover {
        background-color:rgba(243, 243, 243);
        border: 1px solid rgb(255, 197, 0);
        transform: scale(.9);
        transition: 0.2s ease-in 0.3s;
    }

    .grid img:hover{
        transform: scale(1.03);
        transition: 0.2s ease-in 0.3s;
        cursor: zoom-in;
    }

    .grid button {
        background:rgb(255, 197, 0);
        width: 60%;
        margin-bottom: 2rem;
    }

    footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}